

<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-title">
                    <h2>Confirmation</h2>
                </div>
                <hr />
                <div class="form-group">
                    <div class="clearfix separator"></div>
                </div>

                <div class="form-group inputs">
                   <p> If you have an account with us using the provided email
                    you'll received the recovery password instructions</p>
                </div>

                <div class="form-group inputs">
                    <a id="submit" class="btn btn-outline-primary"
                       asp-action="Index" asp-controller="Home">Return to home</a>
                </div>
            </div>
        </div>
    </div>
</section>