@model LoginViewModel


<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-title">
                    <h2>Login</h2>
                </div>
                <hr />
                <div class="leave-comment">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="InputModel.Email"></label>
                        <input asp-for="InputModel.Email" class="form-control" placeholder="Email"/>
                        <span asp-validation-for="InputModel.Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="InputModel.Password"></label>
                        <input asp-for="InputModel.Password" class="form-control" placeholder="Password"/>
                        <span asp-validation-for="InputModel.Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="hidden" asp-for="SiteKey" />
                        <input type="hidden" asp-for="Recaptcha" />
                        <div class="g-recaptcha" data-callback="OnCallback" data-sitekey="@Model.SiteKey"></div>
                    </div>

                    <div class="form-group inputs">
                        <a asp-action="forgetpassword">Forgot password?</a>
                        <br />
                        <br />
                        <button type="submit" class="">Sign up</button>
                        <br />
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts
    {
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        var OnCallback = function() {
            $("#Recaptcha").val(grecaptcha.getResponse());
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}
