@using Proyecto_Progra_MVC.Domain.Models.Enum
@model RegisterInputModel

<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="leave-comment">
                    <form method="post">
                        <div class="section-title">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <h2>Sign Up</h2>
                        </div>
                        <hr />
                        <div class="form-group inputs">

                            <p><label asp-for="Name" class="form-text"></label></p>
                            <input asp-for="Name" class="form-control" placeholder="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>

                            <p><label asp-for="Lastname" class="form-text"></label></p>
                            <input asp-for="Lastname" class="form-control" placeholder="Last Name" />
                            <span asp-validation-for="Lastname" class="text-danger"></span>

                            @*<label asp-for="Age" class="form-text"></label>
                            <input asp-for="Age" class="form-control" placeholder="Age" />
                            <span asp-validation-for="Age" class="text-danger"></span>

                            <label asp-for="Gender" class="form-text"></label>
                            @foreach (var genero in Enum.GetValues(typeof(Genders)))
                            {
                                <label class="form-check form-check-inline">
                                    <input asp-for="Gender" type="radio" value="@((int)genero)"
                                        class="form-check form-check-input" aria-describedby="ayudaGenero" />
                                    @Enum.GetName(typeof(Genders), genero)
                                </label>
                            }
                            <span asp-validation-for="Gender" class="text-danger"></span>

                            <label asp-for="PhysicalActivity" class="form-text"></label>
                            @foreach (var physicalActivity in Enum.GetValues(typeof(PhysicalActivity)))
                            {
                                <label class="form-check form-check-inline">
                                    <input asp-for="Gender" type="radio" value="@((int)physicalActivity)"
                                        class="form-check form-check-input" aria-describedby="ayudaPhysicalActivity" />
                                    @Enum.GetName(typeof(PhysicalActivity), physicalActivity)
                                </label>
                            }
                            <span asp-validation-for="PhysicalActivity" class="text-danger"></span>*@

                            <p><label asp-for="Email" class="form-text"></label></p>
                            <input asp-for="Email" class="form-control" placeholder="E-mail" autofocus />
                            <span asp-validation-for="Email" class="text-danger"></span>

                            <p><label asp-for="Password" class="form-text"></label></p>
                            <input asp-for="Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>

                            <p><label asp-for="ConfirmPassword" class="form-text"></label></p>
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Password Confirmation" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                        </div>
                        <div class="form-group inputs">
                            <button id="submit" type="submit" class="btn btn-outline-primary">Sign up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}