@model ResetPasswordInputModel


<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-title">
                    <h2>Reset Password</h2>
                </div>
                <hr />
                <div class="form-row">
                    <div class="form-group col-5">
                        <form method="post">
                            <div class="form-group header">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <h3>Reset Password</h3>
                            </div>
                            <div class="form-group">
                                <div class="clearfix separator"></div>
                            </div>
                            <div class="form-group inputs">

                                <input type="hidden" asp-for="Email" />

                                <input type="hidden" asp-for="Token" />

                                <p><label asp-for="Password" class="form-text"></label></p>
                                <input asp-for="Password" class="form-control" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>

                                <p><label asp-for="ConfirmPassword" class="form-text"></label></p>
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="Password Confirmation" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                            </div>
                            <div class="form-group inputs">
                                <button id="submit" type="submit" class="btn btn-outline-primary">Sign up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts
                {
<partial name="_ValidationScriptsPartial" />
                }
