@model IndexViewModel
@{
    ViewData["Title"] = "Inicio";
}

<!-- style css -->
      <link rel="stylesheet" href="css/style.css"

<!-- banner -->
<section class="banner_main">
         <div class="container-fluid">
            <div class="row d_flex">
               <div class="col-md-6">
                  <div class="text-bg">
                     <div class="padding_lert">
                        <h1>Salud y Ejercicio</h1>
                        <span>Este es el momento.</span>
                        <p>Empieza ahora para llevar el control de tu peso y así poder avanzar en tu objetivo de salud.</p>
                        <a class="read_more" href="#contacto">Contáctenos</a>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="text-img">
                     <figure><img src="images/toy_img.png" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
</section>
      <!-- end banner -->
      <!-- RUTINAS -->
      <div class="Features">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Nuestras Rutinas</h2>
                     <span>Selecciona tu rutina ideal.</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div class="Our_box">
                     <i><img src="icon/icon1.png" alt="#"/></i>
                     <h4>RUTINAS CON SOLO <br>MANCUERNAS</h4>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="Our_box">
                     <i><img src="icon/icon2.png" alt="#"/></i>
                     <h4>RUTINAS DE <br>FISICOCULTURISMO</h4>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="Our_box">
                     <i><img src="icon/icon3.png" alt="#"/></i>
                     <h4>RUTINAS DE <br>PERDIDA DE PESO</h4>
                  </div>
               </div>
               <div class="col-md-12">
                  <a class="read_more" href="#">Leer más</a>
               </div>
            </div>
         </div>
      </div>
      <!-- end RUTINAS -->
      <!-- Info -->
      <div class="discount">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>CREA TU CUENTA AHORA TOTALMENTE GRÁTIS</h2>
                     <span>Al crear tu cuenta puede llevar el control de tu peso y ver tu historial de avance.</span>
                     <a class="read_more">Leer más</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end Info -->
      <!-- Contacto -->
      <div class="request">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2 id="contacto">Contáctenos</h2>
                     <span>Escríbenos para aclarar tus dudas y te estaremos contactando. </span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <form id="request" class="main_form" method="post">
                     <div class="row">
                        <div class="col-md-12 ">
                           <input asp-for="correoElectronico.Asunto" class="contactus" placeholder="Nombre" > 
                        </div>
                        <div class="col-md-12">
                           <input asp-for="correoElectronico.Destinatario" class="contactus" placeholder=" Email" >                          
                        </div>
                        <div class="col-md-12">
                           <textarea asp-for="correoElectronico.Cuerpo" class="textarea" placeholder="Mensaje" type="type" Message="Name">Mensaje </textarea>
                        </div>
                        <div class="col-sm-12">
                           <button type="submit" class="send_btn">Enviar</button>
                        </div>
                     </div>
                  </form>
               </div>
               <div class="col-md-8">
                  <div class="back_img">
                     <figure><img src="images/img.jpg" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end Contacto -->
      <!-- people -->
      <div class="people">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2> What People Says</h2>
                     <span>looking at its layout. The point of using Lorem Ipsumreadable content of a page when looking at its layout.</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div id="myCarousel" class="carousel slide people_Carousel " data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container">
                              <div class="carousel-caption ">
                                 <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                       <div class="test_box">
                                          <h4>Duis aute</h4>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. x ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                       <div class="test_box">
                                          <h4>Duis aute</h4>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. x ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                       <div class="test_box">
                                          <h4>Duis aute</h4>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. x ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="sr-only">Previous</span>
                     </a>
                     <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="sr-only">Next</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end people -->


