@model Supplements

<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title contact-title">
                    <h2>Supplement</h2>
                </div>
                <form method="post" enctype="multipart/form-data" asp-action="Upsert">

                    <input asp-for="Photo" class="form-control" type="hidden" />
                    <div class="form-group header">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </div>
                    <div class="form-group">
                        <div class="clearfix separator"></div>
                    </div>

                    <div class="form-group inputs">

                        <input asp-for="Id" class="form-control" type="hidden" />

                        <div class="form-group">
                            <p><label asp-for="Name"></label></p>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <p><label asp-for="Description"></label></p>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <p><label asp-for="Price"></label></p>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <p><label>Picture</label></p>
                            <input name="file" type="file" class="form-control form-control-user" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            <a asp-action="Index" class="btn btn-primary" form-control">Back</a>
                        </div>
                        <div class="col-lg-3">
                            <button type="submit" class="btn btn-success" form-control">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


@section Scripts{
<partial name="_ValidationScriptsPartial" />
    }
