@using Proyecto_Progra_MVC.Application.Handlers
@using Microsoft.AspNetCore.Authorization
@model List<User>

<section class="class-timetable-section spad">
    <div class="container">
        <div class="row">
            <div class="col-6 section-title">
                <h2>Users list</h2>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-lg-12">
                <div class="class-timetable">
                    <table style="width:100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Lastname</th>
                                <th>Email</th>
                                <th>Progress</th>
                                <th>Measures</th>
                                @inject IAuthorizationService _authorizationService
                                @if ((await _authorizationService.AuthorizeAsync(User, PermissionTypesNames.MANAGEROLES)).Succeeded)
                                {
                                    <th>Admin Actions</th>
                                }

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr id="progress_@user.Id">
                                    <td><p>@user.Name</p></td>
                                    <td><p>@user.Lastname</p></td>
                                    <td><p>@user.Email</p></td>
                                    <td>
                                        <div class="text-center">
                                            <a href="/info/index/@user.Id" class="btn btn-outline-light" style="cursor:pointer">
                                                <i class="fa-solid fa-heart-circle-exclamation"></i> View progress
                                            </a>
                                            @if ((await _authorizationService.AuthorizeAsync(User, PermissionTypesNames.WRITEROLES)).Succeeded)
                                            {
                                                <a href="/info/inforegister/@user.Id" class="btn btn-outline-warning" style="cursor:pointer">
                                                    <i class="fa-solid fa-heart-circle-plus"></i> Add progress
                                                </a>
                                            }
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center">
                                            <a href="/measures/index/@user.Id" class="btn btn-outline-light" style="cursor:pointer">
                                                <i class="fa-solid fa-list-check"></i> View measures
                                            </a>
                                            @if ((await _authorizationService.AuthorizeAsync(User, PermissionTypesNames.WRITEROLES)).Succeeded)
                                            {
                                                <a href="/measures/measuresregister/@user.Id" class="btn btn-outline-warning" style="cursor:pointer">
                                                    <i class="fa-solid fa-ruler"></i> Add measures
                                                </a>
                                            }

                                        </div>
                                    </td>
                                    @if ((await _authorizationService.AuthorizeAsync(User, PermissionTypesNames.MANAGEROLES)).Succeeded)
                                    {
                                        <td>
                                            <div class="text-center">
                                                <a href="/user/updateuser/@user.Id" class="btn btn-outline-info" style="cursor:pointer">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                            </div>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@*<script>
    function Delete(id) {
    swal({
    title: "Are you sure to want to delete this vehicle?",
    text: "Data cannot be recovered once it has been deleted!",
    icon: "warning",
    buttons: true,
    dangerMode: true
    }).then((willDelete) => {
    if (willDelete) {
    $.ajax({
    type: "DELETE",
    url: "/vehicles/delete/" + id,
    success: function(data) {
    if (data.success) {
    toastr.success(data.message);
    $("#vehicle_" + id).remove();
    }
    else {
    toastr.error(data.message);
    }
    }
    });
    }
    });
    }
    </script>*@