@model List<User>

<br />
<div class="row">
    <div class="col-6">
        <h3>Users list</h3>
    </div>
</div>

<br />
<div>
    <table class="table" id="progress" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr id="progress_@user.Id">
                    <td>@user.Name</td>
                    <td>@user.Lastname</td>
                    <td>@user.Email</td>
                    <td>
                        <div class="text-center">
                            <a href="/user/updateuser/@user.Id" class="btn btn-outline-info" style="cursor:pointer">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a onclick=Delete("@user.Id") class="btn btn-outline-danger" style="cursor:pointer">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                            <a href="/requests/requests/@user.Id" class="btn btn-outline-success" style="cursor:pointer">
                                <i class="fa-solid fa-car"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function Delete(id) {
        swal({
            title: "Are you sure to want to delete this vehicle?",
            text: "Data cannot be recovered once it has been deleted!",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    type: "DELETE",
                    url: "/vehicles/delete/" + id,
                    success: function(data) {
                        if (data.success) {
                            toastr.success(data.message);
                            $("#vehicle_" + id).remove();
                        }
                        else {
                            toastr.error(data.message);
                        }
                    }
                });
            }
        });
    }
</script>